<div align="center">
<blockquote class="blockquote">
  <h1  style="color: black" class="display-3">Espace d'administration </h1>
  <footer class="blockquote-footer"> <cite title="Source Title"><STRONG>Accueil</STRONG></cite></footer>
</blockquote>
</div>

<br/>
<br/>
<br/>

<div align="center">
<ul>

  <li class="list-inline-item">
    <a routerLink="/gereUser" class="btn btn-lg" style="background-color: #1c2836; color:white; font-weight: bold">Gestion des utilisateurs</a>
  </li>
  <li class="list-inline-item">
    <a routerLink="/quartier" class="btn btn-info btn-lg" style="background-color: #1c2836; color:white; font-weight: bold">Gestion des  quartiers</a>
  </li>
  <li class="list-inline-item">
    <a routerLink="/Categorie" class="btn btn-success btn-lg" style="background-color: #1c2836; color:white; font-weight: bold" >Gestion des categories</a>
  </li>
  <li class="list-inline-item">
    <a routerLink="/connexion" class="btn  btn-lg" style="background-color: #1c2836; color:white; font-weight: bold">Deconnexion</a>
  </li>


</ul>
</div>



