<div
  style="background-image: url('assets/ribonn.png'); background-size: contain;padding: 60px;background-repeat: no-repeat; width: 800px;margin-left: 240px">
  <h4 class="text-white" style="position: relative;top:-20px;left: 160px"> Bienvenue  {{nomUtilisateur}} </h4>
</div>
<br/>

<div align="center">
  <ul>

    <li class="list-inline-item">
      <a routerLink="/search" class="btn btn-info btn-lg"
         style="background-color: #1c2836; color:white; font-weight: bold"> Je cherche</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/propose" class="btn btn-success btn-lg"
         style="background-color: #1c2836; color:white; font-weight: bold">Je propose</a>
    </li>

    <li class="list-inline-item">
      <a routerLink="/plainte" class="btn btn-warning btn-lg"
         style="background-color: #1c2836; color:white; font-weight: bold">Deposer une plainte</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/home" class="btn btn-lg" style="background-color: #1c2836; color:white; font-weight: bold">A
        propos</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/connexion" class="btn  btn-lg" style="background-color: #1c2836; color:white; font-weight: bold">Deconnexion</a>
    </li>

  </ul>
</div>





