<a  class="btn btn-outline-info" routerLink="/admin" role="button"><--Retour à la page d'accueil</a>

<br/>
<br/>
<br/>
    <table class="table table-striped table-dark">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="text-align: center">Nom</th>
        <th scope="col" style="text-align: center">Prenom</th>
        <th scope="col" style="text-align: center">Email</th>
        <th scope="col" style="text-align: center">Tel</th>
        <th scope="col" style="text-align: center">Note</th>
        <th scope="col" style="text-align: center">Option</th>
      </tr>
      </thead>


      <tbody>
      <tr *ngFor="let user of users">
        <td style="text-align: center">{{ user.id_user }}</td>
        <td style="text-align: center">{{ user.nom }}</td>
        <td style="text-align: center">{{ user.prenom }}</td>
        <td style="text-align: center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td style="text-align: center">{{ user.tel }}</td>
        <td [ngStyle]="user.note<5?{'background-color': 'red'} : {'background-color': ''}" style="text-align: center"><span class="badge badge-secondary">{{ user.note}}</span></td>


        <td style="text-align: center"><li class="list-inline-item">
          <!--<button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>-->
          <button class="btn btn-success" (click)="delUser(user)" style="text-align: center">Bloquer</button>
        </li></td>
      </tr>
      </tbody>
    </table>

