<!--<p>home works!</p>-->
<app-user-managment></app-user-managment>
<style>
  p, li {
    font-size: larger;
  }

  .container {
    padding-top: 50px;
  }
</style>
<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6"><img src="assets/logo2pfa.jpeg" width="100%"></div>
    <div class="col-md-6">
      <p>
        On est tous le voisin de quelqu’un , et voila !!
        <br/>
        <strong>KSE</strong> vous met en relation avec vos voisins gratuitement pour echanger des objets et des services
        dans votre quartier !
        Votre voisin peut vous être utile et vous pouvez lui donner un coup de main ! Il suffit juste de le
        rencontrer... sur notre site
        Notre devise est Achetez l’essentiel et empruntez le reste prés de chez vous , sur le thème
      </p>
      <ul>
        <li>

          Le partage du bien se multiplie sans l’amoindrir
        </li>
        <li>
          Bon voisinage rend la vie agréable
        </li>
      </ul>
    </div>
  </div>


  <br>
</div>
